.wrapper
  .up-bar
    <img src="https://www.pakutaso.com/shared/img/thumb/MIYAZAKI19116782_TP_V.jpg" height="810" width="1440">
  .bar
    .title
      .title_logo
        Filmtourism
    .box1
      LOGIN
    .box2
      SIGNUP
  .main
    .post
      写真の投稿
    .list
      写真一覧
    .serch
      検索
  .under-bar
    .ink__logo
      ©2020 filmtourism
    

