.wrapper
  .up-bar
    <img src="https://www.pakutaso.com/shared/img/thumb/MIYAZAKI19116782_TP_V.jpg" height="810" width="1440">
  .bar
    .title
      .title__logo
        Filmtourism
    .box1
      = link_to "LOGIN", new_user_session_path, class: "btn"
    .box2
      = link_to "SIGNUP", new_user_registration_path, class: "btn"
  .main
    .post
      <i class="fas fa-camera-retro"></i>
      写真の投稿
    .list
      <i class="fas fa-list-ul"></i>
      写真一覧
    .serch
      <i class="fas fa-search"></i>
      検索
  .under-bar
    .ink__logo
      ©2020 filmtourism
    

